:root {
  --bcg-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
/* header*/
.header-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-logo-part {
  color: #000000;
  font-family: Raleway, sans-serif;
}
.header-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}
.contacts-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.button-primary {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-secondary {
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  cursor: pointer;
}
/* features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
}
.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
/* about */
.about-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* our team */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}
.footer-logo-part {
  color: #ffffff;
  font-family: Raleway, sans-serif;
}
.address-link-map {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}
.address-link {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-link-map:hover, .address-link-map:focus{
  color: var(--accent-color);
}
.address-link:hover, .address-link:focus{
  color: var(--accent-color);
}
/* styles for portfolio page */
.portfolio-btn .btn{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.portfolio-title{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text{
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}